<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.espressolibrary">

    <application android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".EspressoActivity"></activity>
    </application>

</manifest>